<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lab3_Starbucks_3/src/mum/edu/data/Database.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mum.edu.data.Database"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lab3_Starbucks_3"/>
</launchConfiguration>
